body,
html {
  margin: 0;
  padding: 0;
  
}

body {
  height: 100vh;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #000; 
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  gap: 60px;
  align-items: center;

}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 2%;
}



.Intro {
  color: white;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
  max-width: 30%;
  min-width: 410px;
  margin: 0;
  size: 100%;
  padding-inline: 20px;


}

#name {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  text-shadow: #f2f2f2 1px 0 5px;
}

#hi {
  font-size: 15px;
  margin-bottom: 0%;
}



#university {
  color: rgb(255, 128, 0);
  text-shadow: rgb(26, 26, 25) 1px 0 2px;
  margin-top: -1%;
  text-shadow: #ff8800 1px 0 4px;
}

#blurb {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  max-width: 100%;
  text-align: left;
  word-wrap: break-word;
}

.typewrite {
  text-decoration: none;
}

.typewrite>.wrap {
  border-right: 0.08em solid #fff;
  color: rgb(249, 249, 249);
  text-decoration: none;
  text-shadow: #f2f2f2 1px 0 1.5px;
}

.button {
  width: 40px;
  height: 40px;
  margin-left: 0;
  margin: 20px;
  background-color: transparent;
  cursor: auto;
  box-shadow: #f2f2f2 1px 0 10px;
  border-radius: 10px;
  border: #ddd 2px solid;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

#tiger-head {
  width: 45px;
  height: 40px;
  margin-left: 0;
  margin: 20px;
  background-color: transparent;
  cursor: auto;
  box-shadow: #f2f2f2 1px 0 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: orange;
}

#tiger-head:hover {
  background-color: orange;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-danna {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 5%
  
}

.photo-danna img {
  border-radius: 50%;
  max-width: 65%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;

}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .Intro {
    max-width: 75%;
    padding: 20px;
    size: scale(0.8);
  }

  .main-container {
    padding-left: 30px;
    padding-right: 30px;
    size: scale(0.8);
  }
  
}











